*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    border: solid;
}
#main{
    padding: 5px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px,300px) 1fr minmax(250px,300px);
    grid-template-rows: 78% 22%;
    grid-template-areas:"left center  right"
                        "bottom bottom  bottom";
    gap: 5px;
}

#box1{
    grid-area: left;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
#box1 div{
    display: flex;
    gap: 5px;
}
#box2{
    grid-area: center;
    display: flex;
    flex-direction: column;
}
#box3{
    grid-area: right;
    padding: 10px;
    gap: 10px;
}

#move1{
    margin-top: 2%;
    height: 22%;
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
#move1inside{
    
    display: flex;
}
#move1inside div{
    width: 100%;
}
#move2{
    margin-top: 2%;
    height: 22%;
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
#move2inside{
    display: flex;
}
#move2inside div{
    width: 100%;
}
#move3{
    margin-top: 2%;
    height: 22%;
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
#move3inside{
    
    display: flex;
}
#move3inside div{
    width: 100%;
}
#move4{
    margin-top: 2%;
    height: 22%;
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
#move4inside{
    
    display: flex;
}
#move4inside div{
    width: 100%;
}
#box4{
    grid-area: bottom;
    display: flex;
    padding: 10px;
}
#box4 div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#imgbox{
    width: 100%;
    height: 80%;
    border: 1px solid;
}
#box2btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
#box2btn button{
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: red;
    font-size: 18px;
}
#Pokemon1Img{
    height: 80%;
    
}
#Pokemon1Name{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Pokemon2Img{
    height: 80%;
    
}
#Pokemon2Name{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Pokemon3Img{
    height: 80%;
    
}
#Pokemon3Name{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Pokemon4Img{
    height: 80%;
    
}
#Pokemon4Name{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Pokemon5Img{
    height: 80%;
    
}
#Pokemon5Name{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Pokemon6Img{
    height: 80%;
    
}
#Pokemon6Name{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainImg{
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}
#imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#move1innesttop div{
    display: flex;
    gap: 3px;
}
#move2innesttop div{
    display: flex;
    gap: 3px;
}
#move3innesttop div{
    display: flex;
    gap: 3px;
}
#move4innesttop div{
    display: flex;
    gap: 3px;
}
#move1innestbottom div{
    display: flex;
    gap: 3px;
}
#move2innestbottom div{
    display: flex;
    gap: 3px;
}
#move3innestbottom div{
    display: flex;
    gap: 3px;
}
#move4innestbottom div{
    display: flex;
    gap: 3px;
}